{% extends "base.html" %}
{% load recipe_extra %}

{% block javascript %}
    <script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            /* on charge la liste des urls */
            var list_img = {{ list_img|jsonify|safe }};
            var id_current_img = 0;
            var img = new Image();
            img.width = 300;
            img.height = 300;
            $("#div_img_recipe").append(img);

            
            function setImg(id){
                img.src = list_img[id];
            }

            function nextImg(){
                id_current_img += 1;
                if (id_current_img >= list_img.length)
                    id_current_img = 0;
            }

            function previousImg(){
                id_current_img -= 1;
                if (id_current_img < 0)
                    id_current_img = list_img.length;
            }
            
            /* image error handler */
            img.onerror = function() {
                nextImg();
                setImg(id_current_img);
            }

            if (list_img.length > 0)
                setImg(0);

            $("#next").click(function(){
                /* image error handler 
                 * permet de capter une 
                 * erreur 404, si c'est le cas
                 * on passe à la suivante
                 */
                img.onerror = function() {
                    nextImg();
                    setImg(id_current_img);
                }

                nextImg();
                setImg(id_current_img);
            });
            
            $("#previous").click(function(){
                /* image error handler */
                img.onerror = function() {
                    previousImg();
                    setImg(id_current_img);
                }

                previousImg();
                setImg(id_current_img);
            });

            $("#refresh").click(function(){
                location.reload();
            });

            $("#form").submit(function(){
                $("#form_title").attr("value",$("#recipe_title").text());
                $("#form_image").attr("value", img.src);
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="container">
        <h1><span id="recipe_title">{{ recipe|random_title }}</span><small style="color:#D5D5D5"> pour {{ recipe.nb_person }} personnes</small></h1>
    </div>
</div>

<div class="container">
    <div class="col-md-4">
        <div class="container">
            <div style="padding-top:30px;padding-bottom:20px" id="div_img_recipe">
            </div>
        </div>

        <div class="container">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="previous">Précédent</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="next">Suivant</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Ingrédients</h2>
        <ul class="list-group">
            {% for ingredient in recipe.ingredient %}
            <li class="list-group-item">{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name|display_ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ustensiles</h2>
        <ul class="list-group">
            {% for utensil in recipe.utensil %}
            <li class="list-group-item">{{ utensil.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <hr style="background-color:red">
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        {% for t in recipe.transformation %}
        <p><span class="number-circle">{{ t.position }}</span> {{ t }}</p>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <form id="form" method="POST" action="{% url "gen_recette" %}">{% csrf_token %}
            <input type="hidden" name="raw_data" id="form_raw_data" value="{{ r.data }}" />
            <input type="hidden" name="title" id="form_title" value="" />
            {% for ingredient in recipe.ingredient %}
            <input type="hidden" name="ing" value="{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name|display_ingredient }}" />
            {% endfor %}
            {% for utensil in recipe.utensil %}
                <input type="hidden" name="utensil" value="{{ utensil.name }}" />
            {% endfor %}
            {% for t in recipe.transformation %}
                <input type="hidden" name="transformation" value="{{ t }}" />
            {% endfor %}
            <input type="hidden" name="nb" id="form_nb" value="{{ recipe.nb_person }}" />
            <input type="hidden" name="image" id="form_image" value="" />
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-lg btn-success">Sauvegarder</button>
            {% endif %}
        </form>
        <a href="#" id="refresh" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-refresh"></span>
            Recharger la page</a>
    </div>
</div>
{% endblock %}
