{% extends "base.html" %}
{% load recipe_extra %}

{% block javascript %}
    <script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            /* on charge la liste des urls */
            var list_img = {{ list_img|jsonify|safe }};
            var id_current_img = 0;
            var img = new Image();
            img.width = 300;
            img.height = 300;
            $("#div_img_recipe").append(img);

            
            function setImg(id){
                img.src = list_img[id];
            }

            function nextImg(){
                id_current_img += 1;
                if (id_current_img >= list_img.length)
                    id_current_img = 0;
            }

            function previousImg(){
                id_current_img -= 1;
                if (id_current_img < 0)
                    id_current_img = list_img.length;
            }
            
            /* image error handler */
            img.onerror = function() {
                nextImg();
                setImg(id_current_img);
            }


            setImg(0);

            $("#next").click(function(){
                /* image error handler 
                 * permet de capter une 
                 * erreur 404, si c'est le cas
                 * on passe à la suivante
                 */
                img.onerror = function() {
                    nextImg();
                    setImg(id_current_img);
                }

                nextImg();
                setImg(id_current_img);
            });
            
            $("#previous").click(function(){
                /* image error handler */
                img.onerror = function() {
                    previousImg();
                    setImg(id_current_img);
                }

                previousImg();
                setImg(id_current_img);
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h1>{{ recipe|random_title }}<small> pour {{ recipe.nb_person }} personnes</small></h1>
    </div>
</div>
<div class="container">
    <div class="col-md-4">
        <div class="container">
            <div style="padding-top:30px;padding-bottom:20px" id="div_img_recipe">
            </div>
        </div>

        <div class="container">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="previous">Précédent</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="next">Suivant</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Ingrédients</h2>
        <ul class="list-group">
            {% for ingredient in recipe.ingredient %}
            <li class="list-group-item">{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name|display_ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ustensiles</h2>
        <ul class="list-group">
            {% for utensil in recipe.utensil %}
            <li class="list-group-item">{{ utensil.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container">
</div>
{% endblock %}
