{% extends "base.html" %}
{% load recipe_extra %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h1>{{ recipe|random_title }}<small> pour 73 personnes</small></h1>
    </div>
</div>
<div class="container">
    <div class="col-md-6">
        <h2>Ingrédients</h2>
        <ul class="list-group">
            {% for ingredient in recipe.ingredient %}
            <li class="list-group-item">{{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name|display_ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Ustensiles</h2>
        <ul class="list-group">
            {% for utensil in recipe.utensil %}
            <li class="list-group-item">{{ utensil.name }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}
