{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <div class="container">
        <h1>Ajouter des données</h1>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>Ustensiles</strong>
            </div>
            <div class="panel-body">
                <p>Les ustensiles servent à manipuler les ingrédients.</p> 
                <small>Exemple : Un couteau, une rape à fromage</small>
            </div>
            <div class="panel-footer">
                <div class="container">
                    <a class="btn btn-lg btn-success" href="{% url "utensil_contribute" %}" role="button">Ajouter un ustensile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="http://www.clker.com/cliparts/d/5/0/2/12387028081954057375rugby471_Tango_Style_Frying_Pan.svg.hi.png" height="200"/>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>Actions</strong>
            </div>
            <div class="panel-body">
                <p>Une action est le résultat d'une combinaison
                entre un ustensile et un ingrédient.</p>
                <small>Exemple : Un couteau peut couper une pomme en tranche</small>
            </div>
            <div class="panel-footer">
                <div class="container">
                    <a class="btn btn-lg btn-success" href="{% url "action_contribute" %}" role="button">Ajouter une action</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="http://www.clker.com/cliparts/d/5/0/2/12387028081954057375rugby471_Tango_Style_Frying_Pan.svg.hi.png" height="200"/>
    </div>
</div>
{% endblock %}
